### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [9]:
# Select the unique players
count = purchase_data["SN"].value_counts()
# Count the unique players
total_players = [{"Total Players": len(count)}]
total_players
# Create a data frame with the results
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Select the unique items
unique_items = purchase_data["Item ID"].value_counts()

# Count the unique items
unique_items_count = len(unique_items)

# Calculate the average price
average_price = round(purchase_data["Price"].mean(), 2)

# Count the number of purchases
number_purchases = len(purchase_data.index)

# Calculate the total revenue
total_revenue = purchase_data["Price"].sum()

# Create a summary data frame with all the results
summary_dicts = [{"Number of Unique Items": unique_items_count, 
                  "Average Price": "$" + str(average_price), "Number of Purchases": number_purchases, 
                  "Total Revenue": "$" + str(total_revenue)}]

# Reorder and display the summary data frame
summary_df = pd.DataFrame(summary_dicts)
summary_df = summary_df[["Number of Unique Items","Average Price", "Number of Purchases", "Total Revenue"]]
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# Calculate the number of Unique Players in the DataFrame
player_count = len(purchase_data["SN"].unique())

# Select only 3 columns that I need
reduced_purchase_data = purchase_data.loc[:, ["SN", "Gender", "Age"]]

# Drop duplicates from the list
sorted_df = reduced_purchase_data.drop_duplicates()

# Count the unique values of the gender
summary_purchase_data = sorted_df["Gender"].value_counts()

# Display the Summary Data Frame
summary_df = pd.DataFrame(summary_purchase_data)

# Rename the column Gender
summary_df = summary_df.rename(columns={"Gender":"Total Count"})

# Calculate the percentages
percentages = round(((summary_purchase_data/player_count)*100), 2)

# Add the column of percentages to the data frame
summary_df["Percentages of Players"] = percentages

# Display the renamed data frame
summary_df

                       Total Count  Percentages of Players
Male                           484                   84.03
Female                          81                   14.06
Other / Non-Disclosed           11                    1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# Groupby purchase_data by Gender
gender_purchase_data = purchase_data.groupby("Gender")

# Calculate total purchase
total_purchase = gender_purchase_data.nunique()["SN"]

# Count total purchases by gender 
purchase_count = gender_purchase_data["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_purchase_data["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = gender_purchase_data["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_gender = avg_purchase_total/total_purchase

# Create data frame with obtained values 
gender_summary = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price,
                "Total Purchase Value": avg_purchase_total, "Avg Total Purchase per Person": avg_purchase_per_gender})

# Print index "Gender" in the top left
gender_summary.index.name = "Gender"

# Format with currency style
gender_summary.style.format({"Total Purchase Value":"${:,.2f}", 
                             "Average Purchase Price":"${:,.2f}", 
                             "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
# Create the bins in which Data will be held   
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 100000]

# Create the names for the nine bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Distribute age values into the bins
purchase_data["Age bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

# Create a group based off of the bins
grouped_purchase_data = purchase_data.groupby("Age bins")

# Count total players by age bin
count_age = grouped_purchase_data["SN"].nunique()

# Calculate percentages by age bin
total_players = len(purchase_data["SN"].value_counts())
percentage_by_age = round(((count_age/total_players) * 100), 2)

# Create data frame to hold the results
age_summary = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": count_age})

# Delete the age bins index
del age_summary.index.name 

#Display the summary data frame
summary_df = pd.DataFrame(age_summary)
summary_df = summary_df[["Total Count","Percentage of Players"]]
summary_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Count purchases by age 
purchase_count_age = grouped_purchase_data["Purchase ID"].count()

# Calculate average purchase price by age 
avg_purchase_price_age = grouped_purchase_data["Price"].mean()

# Calculate total purchase value by age 
avg_total_purchase = grouped_purchase_data["Price"].sum()

# Calculate the average purchase per person by age 
avg_purchase_per_person_age = (avg_total_purchase/count_age)

# Create a summary data frame to hold the results
age_summary = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value": avg_total_purchase,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Delete the age bins index
del age_summary.index.name 

# Format with currency style
age_summary.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
# Group purchase data by SN
grouped_purchase_data = purchase_data.groupby(["SN", "Gender"])

# Count the total purchases by name
purchase_count_spender = grouped_purchase_data["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = grouped_purchase_data["Price"].mean()

# Calculate total purchase
purchase_total_spender = grouped_purchase_data["Price"].sum()

# Create a summary data frame to hold the results
spenders_summary = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_summary = spenders_summary.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_summary.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# Create a new data frame with Item ID, Item Name, and Item Price columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items_df.groupby(["Item ID","Item Name"])

# Count the number of purchases of each item
purchase_count_item = item_stats["Price"].count()

# Calculate the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Extract individual item price
item_price = purchase_value/purchase_count_item

# Create a summary data frame to hold the results
most_popular_summary = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort the purchase count column in descending order
popular_formatted = most_popular_summary.sort_values(["Purchase Count"], ascending=False).head()

# Display data in cleaner formatting
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
# Sort the most_popular_summary by total purchase value in descending order
most_profitable = most_popular_summary.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

# Format with currency style
most_profitable.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})